export XDG_CONFIG_HOME=$HOME/.config
export XDG_DATA_HOME=$HOME/.local/share
export XDG_CACHE_HOME=$HOME/.cache

export PATH=/bin:/sbin                               # root comes last
export PATH=/usr/bin:/usr/sbin:$PATH                 # /usr is second-last
export PATH=/usr/local/bin:/usr/local/sbin:$PATH     # /usr/local is before that
export PATH=$HOME/.local/bin:$HOME/.local/sbin:$PATH # $HOME is first

# MAC HAC
if [ $TERM = 'ansi' ]; then
	export TERM=xterm-256color
fi

export ZSH_HOME=$XDG_CONFIG_HOME/zsh

local SYSTEM="LINUX"
local GUI_TERM=rxvt-unicode-256color
local MULTI_TERM=tmux

# bindkey -v # TODO: this isn't anything like vim (insert mode, ^R)

ZSH_THEME="so8res"
PLUGINS="git git-flow extract" # TODO: vi-mode
if [ $DEV_ARCH    ]; then; PLUGINS="archlinux $PLUGINS"; fi
if [ $DEV_CLOJURE ]; then; PLUGINS="lein $PLUGINS"; fi
if [ $DEV_NODE    ]; then; PLUGINS="npm $PLUGINS"; fi
if [ $DEV_OSX     ]; then; PLUGINS="brew $PLUGINS"; fi
if [ $DEV_PYTHON  ]; then; PLUGINS="pip $PLUGINS"; fi
if [ $DEV_RUBY    ]; then; PLUGINS="rbenv rake bundler $PLUGINS"; fi
eval "plugins=($PLUGINS)"


# Add functions and completions to the function path
fpath=($ZSH_HOME/functions $ZSH_HOME/completions $fpath)

# Load all plugins
for plugin ($plugins); do
	if [ -f $ZSH_HOME/plugins/$plugin/_$plugin ]; then
		fpath=($ZSH_HOME/plugins/$plugin $fpath)
	fi
	if [ -f $ZSH_HOME/plugins/$plugin/$plugin.plugin.zsh ]; then
		source $ZSH_HOME/plugins/$plugin/$plugin.plugin.zsh
	fi
done

# Source all extensions
for extension ($ZSH_HOME/lib/*.zsh) source $extension

# Load the theme
source "$ZSH_HOME/themes/$ZSH_THEME.zsh-theme"
